/*Estilos del componente*/
.item{
    border-radius: .5rem;
    transition: transform 0.3s; /* Añadimos transición a la propiedad transform para suavizar el cambio */
    background-color: #F2F2F2;
    text-decoration: none;
    color: black ;
}



/*Cambiamos el estilo del componente de las carreras*/
.item:hover{
    background-color: #459BE6;
    color: white;
    cursor: pointer;
    transform: scale(1.03); /* Agrandamos el elemento al hacer hover */
}