/*Estilos para el componente de los docentes*/
.itemDocente{
    border-radius: .5rem;
    transition: transform 0.3s; /* Añadimos transición a la propiedad transform para suavizar el cambio */
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.itemDocente:hover{
    cursor: pointer;
    transform: scale(1.03); /* Agrandamos el elemento al hacer hover */
}