/*Estilos para la subida de archivos*/
.contenedorDrag{
    padding: 1rem;
    border: .2rem dashed rgb(207, 206, 206);
    background-color: white;
  
}
.contenedorDrag:hover{
    cursor: pointer;
    background-color: #eeeeee;
}
.iconoDeCarga.rotando {
    animation: rotar 1s linear infinite;
  }
  @keyframes rotar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }